.contact-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0 0 0;
}

.contact{
    width: 1200px;
    display: flex;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.contact-left p a{
    color: white;
    text-decoration: none;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover{
    background-color: #ff004f;
  transform: scale(1.05);
}

.btn2{
    background-color: black;
    cursor: pointer;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .contact{
        flex-direction: column;
        padding: 30px;
    }

    .contact-left {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}